/*
@font-face { 
    font-family: 'dinpro'; 
    src: url('../fonts/YOUR_FONT_NAME.otf');
} 
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::-webkit-scrollbar { 
    display: none; 
}

#for_testing {
    z-index: 1000;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 6px;
    display: none;
}

/*-------------------------------------------------------------------------------*/

#hintergrund {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: skyblue;
    display: none;
}
#flugzeug {
    position: absolute;
    left: 5%;
    top: 0px;
    background-image: url(../images/flugzeug1.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition-duration: 100s;
    transition-duration: 100s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
#berg {
    position: absolute;
    left: 110%;
    bottom: 0px;
    background-image: url(../images/berg.svg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
#turm {
    position: absolute;
    left: 110%;
    bottom: 0px;
    background-image: url(../images/turm.svg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
#ballon {
    position: absolute;
    left: 110%;
    top: 10%;
    background-image: url(../images/ballon.svg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
#score {
    position: fixed;
    left: 5%;
    top: 5%;
    font-family: Lucida Sans Unicode;
}
#flyUp {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: yellow;
    opacity: 0;
}
#flyDown {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: red;
    opacity: 0;
}
#test1 {
    position: fixed;
    left: 5%;
    top: 20%;
    font-family: Lucida Sans Unicode;
}
#test2 {
    position: fixed;
    left: 5%;
    top: 35%;
    font-family: Lucida Sans Unicode;
}
#test3 {
    position: fixed;
    left: 5%;
    top: 50%;
    font-family: Lucida Sans Unicode;
}
#test4 {
    position: fixed;
    left: 5%;
    top: 65%;
    font-family: Lucida Sans Unicode;
}

/*-------------------------------------------------------------------------------*/

#startBild {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: skyblue;
}
#startButton {
    position: fixed;
    font-family: Lucida Sans Unicode;
    background-color: blue;
    opacity: 0.5;
}
#options {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#choosePlane {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#money {
    
}

/*-------------------------------------------------------------------------------*/

#flugzeugAuswahl {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: skyblue;
    display: none;
}
#up {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#down {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#back1 {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#flugzeug7 {
    position: absolute;
    background-image: url(../images/flugzeug7.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
#flugzeug6 {
    position: absolute;
    background-image: url(../images/flugzeug6.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
#flugzeug5 {
    position: absolute;
    background-image: url(../images/flugzeug5.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
#flugzeug4 {
    position: absolute;
    background-image: url(../images/flugzeug4.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
#flugzeug3 {
    position: absolute;
    background-image: url(../images/flugzeug3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
#flugzeug2 {
    position: absolute;
    background-image: url(../images/flugzeug2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
#flugzeug1 {
    position: absolute;
    background-image: url(../images/flugzeug1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

/*-------------------------------------------------------------------------------*/

#optionen {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: skyblue;
    display: none;
}
#back2 {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#musicText {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#musicIcon {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#soundText {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}
#soundIcon {
    position: fixed;
    background-color: blue;
    opacity: 0.5;
}