/*
@font-face { 
    font-family: 'dinpro'; 
    src: url('../fonts/YOUR_FONT_NAME.otf');
} 
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::-webkit-scrollbar { 
    display: none; 
}

#for_testing {
    z-index: 1000;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 6px;
    display: none;
}

#hintergrund {
    position: fixed;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: skyblue;
}
#flugzeug {
    position: absolute;
    left: 5%;
    top: 0px;
    background-image: url(../images/flugzeug1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /*-webkit-transition-duration: 10s;
    transition-duration: 10s;*/
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
#berg {
    position: absolute;
    left: 110%;
    bottom: 0px;
    background-image: url(../images/berg.svg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
#turm {
    position: absolute;
    left: 110%;
    bottom: 0px;
    background-image: url(../images/turm.svg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
#ballon {
    position: absolute;
    left: 110%;
    top: 10%;
    background-image: url(../images/ballon.svg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
#score {
    position: fixed;
    left: 5%;
    top: 5%;
    font-family: Lucida Sans Unicode;
}
#balken {
    position: fixed;
    right: 3%;
    top: 3%;
    bottom: 3%;
    height: 94%;
    width: 1%;
    background-color: gainsboro;
}
#regler {
    position: absolute;
    right: 1%;
    top: 45%;
    width: 5%;
    height: 10%;
    background-color: grey;
    transition-timing-function: ease-in-out;
}
#test1 {
    position: fixed;
    left: 30%;
    top: 50%;
    font-family: Lucida Sans Unicode;
}
#test2 {
    position: fixed;
    left: 70%;
    top: 50%;
    font-family: Lucida Sans Unicode;
}